@import url('./__container/khan__container.css');
.khan {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2;
    padding-top: 105px;
    margin-top: 100px;
}